<footer class="footer">
  <div class="footer__top">
    <div class="footer__container container container_padding">
      <div class="footer__top-inner">
        <div class="footer__col footer__col_social">
          {# SOCIAL MENU #}
          <ul class="social-nav">
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-evernote"></i>
              </a>
            </li>
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-facebook"></i>
              </a>
            </li>
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-pinterest"></i>
              </a>
            </li>
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-twitter"></i>
              </a>
            </li>
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-youtube"></i>
              </a>
            </li>
            <li class="social-nav__item">
              <a href="#" class="social-nav__link">
                <i class="icon icon-github"></i>
              </a>
            </li>
          </ul>
          {# SOCIAL MENU END #}
        </div>
        <div class="footer__col footer__col_copyright">
          <div class="copyright"><span>©</span> Parrot Wings</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container container_padding">
      <div class="footer__bottom-inner">
        <div class="footer__col footer__col_nav">
          {# FOOTER NAV #}
          <div class="footer-nav">
            <div class="footer-nav__col">
              <h3 class="footer-nav__title">Recruitment Info</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Candidate First Name: Alexandr</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Candidate Last Name: Chernousov</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Spent Time: X hours</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Email: blacksboxs@gmail.com</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Test date: dd.mm,yyyy</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <h3 class="footer-nav__title">Resources</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Loader icon --- search on Fontello.com</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Icons --- Entypo</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Fonts --- search in this file</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Background --- standart situation: designer lose file</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <h3 class="footer-nav__title">Navigation</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Development</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Application</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Holding</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">About</a>
                </li>
              </ul>
            </div>
          </div>
          {# FOOTER NAV END #}
        </div>
        <div class="footer__col footer__col_browsers">
          <div class="browsers-support">
            <div class="browsers-support__logos">
              <i class="icon icon-ff"></i>
              <i class="icon icon-chrome"></i>
              <i class="icon icon-ie"></i>
              <i class="icon icon-safari"></i>
              <i class="icon icon-opera"></i>
            </div>
            <div class="browsers-support__descr">
              Project should work on next stack:<br>IE11, actual version of Firefox, Chrome<br>on desktop and android, Opera (opera mini),<br>Safari on mac and ios.
            </div>
          </div>
          <div class="copyright copyright_mobile"><span>©</span> Parrot Wings</div>
        </div>
      </div>
    </div>
  </div>
</footer>