<header class="header" style="background-image: url(img/header-bg.jpg)">
  <nav class="nav">
    <div class="nav__container container">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Credits</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Exchange</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Partners</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Stock</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Holding</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>