.btn {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-decoration: none;

	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: #ffffff;
	.regular();
	font-size: @12;
	height: @30;
	line-height: @30;
	padding: 0 @25;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4), inset 0 3px 0px -2px rgba(255,255,255,.4);
	border: 1px solid #222222;
	border-radius: 3px;
	background-color: #494949;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);

	&_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}