.page-content {
  &__container {
    padding-top: 40px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__col {
    &_main {
      width: calc(~"100% - 385px");
    }
    &_aside {
      padding-left: 47px;
      width: 385px;
    }
  }
  &__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  &__title {
    color: #121212;
    .light();
    font-size: @34;
  }
  &__search {
    display: none;
  }
}