.social-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-right: 90px;
  }
  &__link {
    .icon {
      display: block;
      opacity: .125;
      transition: opacity 300ms ease;
      &.icon-evernote {
        .svg-icon("icon-evernote", 40px, 47px);
      }
      &.icon-facebook {
        .svg-icon("icon-facebook", 41px, 41px);
      }
      &.icon-pinterest {
        .svg-icon("icon-pinterest", 33px, 41px);
      }
      &.icon-twitter {
        .svg-icon("icon-twitter", 48px, 38px);
      }
      &.icon-youtube {
        .svg-icon("icon-youtube", 49px, 38px);
      }
      &.icon-github {
        .svg-icon("icon-github", 46px, 39px);
      }
    }
    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .social-nav {
    justify-content: center;
    align-items: center;
    &__item {
      margin: 15px 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .social-nav {
    justify-content: space-between;
    &__item {
      margin: 0;
    }
    &__link {
      .icon {
        &.icon-evernote {
          .svg-icon("icon-evernote", 31px, 36px);
        }
        &.icon-facebook {
          .svg-icon("icon-facebook", 31px, 31px);
        }
        &.icon-pinterest {
          .svg-icon("icon-pinterest", 26px, 31px);
        }
        &.icon-twitter {
          .svg-icon("icon-twitter", 38px, 28px);
        }
        &.icon-youtube {
          .svg-icon("icon-youtube", 38px, 29px);
        }
        &.icon-github {
          .svg-icon("icon-github", 36px, 29px);
        }
      }
    }
  }
}